---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Extremo Portal</title>
  </head>
  <body class="bg-black text-white">
    <div class="z-10 fixed top-6 left-1/2 -translate-x-1/2 text-center w-full uppercase">
      <div class="w-auto bg-gray-600 bg-opacity-40 p-8 rounded">
        <h1 class="text-gray-100 font-semibold text-8xl">
          <img class="inline h-32" src="/logo.png" />
        </h1>
        <h3 class="text-2xl font-extrabold">Click our logo bellow to get modpack!</h3>
        </br>
        <h4 class="text-2xl">IP: OFFLINE</h4>
        </br>
        <h4 class="text-2xl">Port: 2302</h4>
      </div>
    </div>
    <img class="w-full" src="/backgrounds/bg-2.webp" />
    <div class="fixed bottom-10 w-full">
      <div class="flex flex-row justify-center space-x-16 py-8 text-center mx-auto" >
        <div class="w-20">
          <a href="https://discord.gg/zeaHxMjuPa" target="_blank">
            <img class="h-20 bg-transparent hover:scale-110 transition-all duration-200" src="/discord_logo.svg" />
          </a>
        </div>
        <!--<div class="w-20">
          <a href="ts3server://soon.tm" target="_blank">
            <img class="h-20 bg-transparent hover:scale-110 transition-all duration-200" src="/ts3_logo.png" />
          </a>
        </div -->
        <div class="w-20">
          <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2953731332" target="_blank">
            <img class="h-20 bg-transparent hover:scale-110 transition-all duration-200" src="/forums_logo.png"/>
          </a>
        </div>
        <!-- <div class="w-20">
          <a href="/support">
            <img
              class="h-20 bg-transparent hover:scale-110 transition-all duration-200"
              src="/icons/support.svg"
            />
          </a>
        </div> -->
      </div>
    </div>
  </body>
</html>
